aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
bardapi==0.1.41
boto3==1.35.34
botocore==1.35.34
brotli==1.1.0
build==1.3.0
cachetools==5.5.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cryptography==41.0.7
cycler==0.12.1
darkdetect==0.8.0
deap==1.4.1
deprecated==1.2.14
duckdb==1.0.0
ecdsa==0.19.1
einops==0.8.0
encodec==0.1.1
exchange-calendars==4.11.3
fastapi==0.128.0
filelock==3.16.1
fonttools==4.53.1
frozenlist==1.8.0
fsspec==2024.9.0
funcy==2.0
futu-api==6.1.2608
google-ads==26.0.1
google-api-core==2.24.2
google-auth==2.38.0
google-auth-oauthlib==1.2.1
googleads==45.0.0
googleapis-common-protos==1.69.2
googlebard==2.1.0
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.25.1
hyperframe==6.0.1
idna==3.6
importlib-metadata==7.0.2
isodate==0.7.2
jinja2==3.1.4
jmespath==1.0.1
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
lxml==5.3.1
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.9.2
mcp==1.6.0
mcp-server-time==0.6.2
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0rc2
multidict==6.7.0
networkx==3.3
numpy==2.2.6
oauthlib==3.2.2
orjson==3.10.7
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.2
passlib==1.7.4
peewee==3.18.3
pillow==10.4.0
platformdirs==4.3.7
plotly==5.20.0
prompt-toolkit==3.0.43
propcache==0.4.1
proto-plus==1.26.1
protobuf==5.29.4
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycocoa==25.12.4
pycparser==2.21
pycryptodome==3.23.0
pydantic==2.11.3
pydantic-core==2.33.1
pydantic-settings==2.9.1
pygithub==2.1.1
pygments==2.17.2
pyjwt==2.8.0
pyluach==2.3.0
pynacl==1.5.0
pyobjc==12.1
pyobjc-core==12.1
pyobjc-framework-accessibility==12.1
pyobjc-framework-accounts==12.1
pyobjc-framework-addressbook==12.1
pyobjc-framework-adservices==12.1
pyobjc-framework-adsupport==12.1
pyobjc-framework-applescriptkit==12.1
pyobjc-framework-applescriptobjc==12.1
pyobjc-framework-applicationservices==12.1
pyobjc-framework-apptrackingtransparency==12.1
pyobjc-framework-arkit==12.1
pyobjc-framework-audiovideobridging==12.1
pyobjc-framework-authenticationservices==12.1
pyobjc-framework-automaticassessmentconfiguration==12.1
pyobjc-framework-automator==12.1
pyobjc-framework-avfoundation==12.1
pyobjc-framework-avkit==12.1
pyobjc-framework-avrouting==12.1
pyobjc-framework-backgroundassets==12.1
pyobjc-framework-browserenginekit==12.1
pyobjc-framework-businesschat==12.1
pyobjc-framework-callkit==12.1
pyobjc-framework-carbon==12.1
pyobjc-framework-cfnetwork==12.1
pyobjc-framework-cinematic==12.1
pyobjc-framework-classkit==12.1
pyobjc-framework-cloudkit==12.1
pyobjc-framework-cocoa==12.1
pyobjc-framework-colorsync==12.1
pyobjc-framework-compositorservices==12.1
pyobjc-framework-contacts==12.1
pyobjc-framework-contactsui==12.1
pyobjc-framework-coreaudio==12.1
pyobjc-framework-coreaudiokit==12.1
pyobjc-framework-corebluetooth==12.1
pyobjc-framework-coredata==12.1
pyobjc-framework-corehaptics==12.1
pyobjc-framework-corelocation==12.1
pyobjc-framework-coremedia==12.1
pyobjc-framework-coremediaio==12.1
pyobjc-framework-coremidi==12.1
pyobjc-framework-coreml==12.1
pyobjc-framework-coremotion==12.1
pyobjc-framework-coreservices==12.1
pyobjc-framework-corespotlight==12.1
pyobjc-framework-coretext==12.1
pyobjc-framework-corewlan==12.1
pyobjc-framework-cryptotokenkit==12.1
pyobjc-framework-datadetection==12.1
pyobjc-framework-devicecheck==12.1
pyobjc-framework-devicediscoveryextension==12.1
pyobjc-framework-discrecording==12.1
pyobjc-framework-discrecordingui==12.1
pyobjc-framework-diskarbitration==12.1
pyobjc-framework-dvdplayback==12.1
pyobjc-framework-eventkit==12.1
pyobjc-framework-exceptionhandling==12.1
pyobjc-framework-executionpolicy==12.1
pyobjc-framework-extensionkit==12.1
pyobjc-framework-externalaccessory==12.1
pyobjc-framework-fileprovider==12.1
pyobjc-framework-fileproviderui==12.1
pyobjc-framework-findersync==12.1
pyobjc-framework-fsevents==12.1
pyobjc-framework-fskit==12.1
pyobjc-framework-gamecenter==12.1
pyobjc-framework-gamecontroller==12.1
pyobjc-framework-gamekit==12.1
pyobjc-framework-gameplaykit==12.1
pyobjc-framework-gamesave==12.1
pyobjc-framework-healthkit==12.1
pyobjc-framework-imagecapturecore==12.1
pyobjc-framework-installerplugins==12.1
pyobjc-framework-intents==12.1
pyobjc-framework-intentsui==12.1
pyobjc-framework-iobluetooth==12.1
pyobjc-framework-iobluetoothui==12.1
pyobjc-framework-iosurface==12.1
pyobjc-framework-ituneslibrary==12.1
pyobjc-framework-kernelmanagement==12.1
pyobjc-framework-latentsemanticmapping==12.1
pyobjc-framework-launchservices==12.1
pyobjc-framework-libdispatch==12.1
pyobjc-framework-libxpc==12.1
pyobjc-framework-linkpresentation==12.1
pyobjc-framework-localauthentication==12.1
pyobjc-framework-localauthenticationembeddedui==12.1
pyobjc-framework-mailkit==12.1
pyobjc-framework-mapkit==12.1
pyobjc-framework-mediaaccessibility==12.1
pyobjc-framework-mediaextension==12.1
pyobjc-framework-medialibrary==12.1
pyobjc-framework-mediaplayer==12.1
pyobjc-framework-mediatoolbox==12.1
pyobjc-framework-metal==12.1
pyobjc-framework-metalfx==12.1
pyobjc-framework-metalkit==12.1
pyobjc-framework-metalperformanceshaders==12.1
pyobjc-framework-metalperformanceshadersgraph==12.1
pyobjc-framework-metrickit==12.1
pyobjc-framework-mlcompute==12.1
pyobjc-framework-modelio==12.1
pyobjc-framework-multipeerconnectivity==12.1
pyobjc-framework-naturallanguage==12.1
pyobjc-framework-netfs==12.1
pyobjc-framework-network==12.1
pyobjc-framework-networkextension==12.1
pyobjc-framework-notificationcenter==12.1
pyobjc-framework-opendirectory==12.1
pyobjc-framework-osakit==12.1
pyobjc-framework-oslog==12.1
pyobjc-framework-passkit==12.1
pyobjc-framework-pencilkit==12.1
pyobjc-framework-phase==12.1
pyobjc-framework-photos==12.1
pyobjc-framework-photosui==12.1
pyobjc-framework-preferencepanes==12.1
pyobjc-framework-pushkit==12.1
pyobjc-framework-quartz==12.1
pyobjc-framework-quicklookthumbnailing==12.1
pyobjc-framework-replaykit==12.1
pyobjc-framework-safariservices==12.1
pyobjc-framework-safetykit==12.1
pyobjc-framework-scenekit==12.1
pyobjc-framework-screencapturekit==12.1
pyobjc-framework-screensaver==12.1
pyobjc-framework-screentime==12.1
pyobjc-framework-searchkit==12.1
pyobjc-framework-security==12.1
pyobjc-framework-securityfoundation==12.1
pyobjc-framework-securityinterface==12.1
pyobjc-framework-securityui==12.1
pyobjc-framework-sensitivecontentanalysis==12.1
pyobjc-framework-servicemanagement==12.1
pyobjc-framework-sharedwithyou==12.1
pyobjc-framework-sharedwithyoucore==12.1
pyobjc-framework-shazamkit==12.1
pyobjc-framework-social==12.1
pyobjc-framework-soundanalysis==12.1
pyobjc-framework-speech==12.1
pyobjc-framework-spritekit==12.1
pyobjc-framework-storekit==12.1
pyobjc-framework-symbols==12.1
pyobjc-framework-syncservices==12.1
pyobjc-framework-systemconfiguration==12.1
pyobjc-framework-systemextensions==12.1
pyobjc-framework-threadnetwork==12.1
pyobjc-framework-uniformtypeidentifiers==12.1
pyobjc-framework-usernotifications==12.1
pyobjc-framework-usernotificationsui==12.1
pyobjc-framework-videosubscriberaccount==12.1
pyobjc-framework-videotoolbox==12.1
pyobjc-framework-virtualization==12.1
pyobjc-framework-vision==12.1
pyobjc-framework-webkit==12.1
pyparsing==3.1.4
pyproject-hooks==1.2.0
pyqtgraph==0.14.0
pyside6==6.7.2
pyside6-addons==6.7.2
pyside6-essentials==6.7.2
pyside6-fluent-widgets==1.10.5
pysidesix-frameless-window==0.7.5
pysocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.1.0
python-ibapi-stable==10.30.1
python-jose==3.5.0
python-multipart==0.0.21
python-rapidjson==1.20
pytz==2024.1
pyxll==5.11.2
pyyaml==6.0.2
pyzmq==25.1.2
qdarkstyle==3.2.3
qtpy==2.4.1
regex==2024.9.11
requests==2.31.0
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.5
scipy==1.14.1
seaborn==0.13.2
selenium==4.30.0
setuptools==80.9.0
shiboken6==6.7.2
simplejson==3.20.2
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
sse-starlette==2.2.1
starlette==0.46.2
sympy==1.13.3
ta-lib==0.6.8
tenacity==9.0.0
tokenizers==0.20.0
toolz==1.1.0
torch==2.4.1
torchaudio==2.4.1
tqdm==4.66.5
trio==0.29.0
trio-websocket==0.12.2
typing-extensions==4.13.2
typing-inspection==0.4.0
tzdata==2025.2
tzlocal==5.2
undetected-chromedriver==3.5.5
urllib3==2.1.0
uvicorn==0.34.2
vnpy-algotrading==1.0.8
-e file:///Users/xucongyong/mathematics/120code/211quant/vnpy/local_pkgs/vnpy_binance
vnpy-chartwizard==1.0.5
vnpy-ctabacktester==1.1.6
vnpy-ctastrategy==1.2.0
-e file:///Users/xucongyong/mathematics/120code/211quant/vnpy/local_pkgs/vnpy_ctp
vnpy-datamanager==1.1.1
vnpy-datarecorder==1.0.8
vnpy-duckdb==1.0.0
vnpy-evo==0.2.2
vnpy-excelrtd==1.0.2
-e file:///Users/xucongyong/mathematics/120code/211quant/vnpy/local_pkgs/vnpy_futu
vnpy-ib==10.30.1.1
vnpy-optionmaster==1.1.0
vnpy-portfoliomanager==1.0.4
vnpy-portfoliostrategy==1.1.2
vnpy-rest==1.1.1
vnpy-riskmanager==1.0.4
vnpy-rpcservice==1.0.6
vnpy-scripttrader==1.0.3
vnpy-spreadtrading==1.2.6
vnpy-sqlite==1.1.3
vnpy-websocket==1.1.1
vnpy-webtrader==1.0.5
wcwidth==0.2.12
websocket-client==1.8.0
websockets==15.0.1
wrapt==1.16.0
wsproto==1.2.0
xmltodict==0.14.2
yarl==1.22.0
zeep==4.3.1
zipp==3.20.1
zstandard==0.23.0
